<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.d11.project.msd.listeners.TestListners"></listener>
	</listeners>
	<parameter name="environment" value="local" />
	<parameter name="browserName" value="Chrome" />
	<test name="Test" parallel="methods">
		<classes>
			<class name="com.d11.project.msd.masterTest.DemoTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
